In [7]:
import csv

In [8]:
import pandas as pd
from pathlib import Path
import numpy as np

In [9]:
p = Path(".")

In [10]:
csvPath = p / "Resources/budget_data.csv" 
df = pd.read_csv(csvPath)

In [11]:
with open(csvPath, "r") as file:
    csvFile = csv.reader(file, delimiter = ",")
    
    headers = next(csvFile)
    print(file.read())

Jan-2010,867884
Feb-2010,984655
Mar-2010,322013
Apr-2010,-69417
May-2010,310503
Jun-2010,522857
Jul-2010,1033096
Aug-2010,604885
Sep-2010,-216386
Oct-2010,477532
Nov-2010,893810
Dec-2010,-80353
Jan-2011,779806
Feb-2011,-335203
Mar-2011,697845
Apr-2011,793163
May-2011,485070
Jun-2011,584122
Jul-2011,62729
Aug-2011,668179
Sep-2011,899906
Oct-2011,834719
Nov-2011,132003
Dec-2011,309978
Jan-2012,-755566
Feb-2012,1170593
Mar-2012,252788
Apr-2012,1151518
May-2012,817256
Jun-2012,570757
Jul-2012,506702
Aug-2012,-1022534
Sep-2012,475062
Oct-2012,779976
Nov-2012,144175
Dec-2012,542494
Jan-2013,359333
Feb-2013,321469
Mar-2013,67780
Apr-2013,471435
May-2013,565603
Jun-2013,872480
Jul-2013,789480
Aug-2013,999942
Sep-2013,-1196225
Oct-2013,268997
Nov-2013,-687986
Dec-2013,1150461
Jan-2014,682458
Feb-2014,617856
Mar-2014,824098
Apr-2014,581943
May-2014,132864
Jun-2014,448062
Jul-2014,689161
Aug-2014,800701
Sep-2014,1166643
Oct-2014,947333
Nov-2014,578668
Dec-2014,988505
Jan-2015,1139715
Feb-2015,1029471
Mar-2015,687533
Apr-2015,-524626
May-2015,158620
Jun-2015,87795
Jul-2015,423389
Aug-2015,840723
Sep-2015,568529
Oct-2015,332067
Nov-2015,989499
Dec-2015,778237
Jan-2016,650000
Feb-2016,-1100387
Mar-2016,-174946
Apr-2016,757143
May-2016,445709
Jun-2016,712961
Jul-2016,-1163797
Aug-2016,569899
Sep-2016,768450
Oct-2016,102685
Nov-2016,795914
Dec-2016,60988
Jan-2017,138230
Feb-2017,671099

In [12]:
### total_months - count column 1

def count_months(csvPath, col_idx):
  with open(csvPath, 'r') as f:
    raw_text = f.read()
  lines = raw_text.split('\n')[1:]
  
  rows = 0
  for l in lines:
    values = l.split(',')
    if values[0] != '':
      rows += 1

  return rows

total_months = count_months(csvPath, 1)
print(total_months)

86

In [13]:
### total_months - count column 1

def count_months(csvPath, col_idx):
  with open(csvPath, 'r') as f:
    raw_text = f.read()
  lines = raw_text.split('\n')[1:]
  
  rows = 0
  for l in lines:
    values = l.split(',')
    if values[0] != '':
      rows += 1

  return rows

total_months = count_months(csvPath, 1)
print(total_months)

86

In [14]:
### total_value - sum column 2 :

def sum_value(csvPath, col_idx):
  with open(csvPath, 'r') as f:
    raw_text = f.read()
  lines = raw_text.split('\n')[1:]
  
  sum_val = 0
  for l in lines:
    values = l.split(',')
    col_val = eval(values[1])
    if col_val != '':
      sum_val += col_val

  return sum_val

total_value = sum_val(csvPath, 1)
print(total_value)

NameError: name 'sum_val' is not defined

In [15]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [16]:
## need to create a new column for average change
df['diff']= df['Profit/Losses'].diff()
df.head()

       Date  Profit/Losses      diff
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [17]:
### total_value - sum column 2 (tbh I decided to use pandas here because it is easier Â¯\_(ãƒ„)_/Â¯)
Total_Value = df['Profit/Losses'].sum()
print (Total_Value)

38382578

In [36]:
### avg_chg_col - average difference in column 2 
avg_change_col = df['diff'].mean()
avg_change_col = np.round(avg_change_col, 2)
print(avg_change_col)

-2315.12

In [37]:
### grtst_inc - greatest increase in column 2 with date and value
max = df['Profit/Losses'].idxmax()
max_profit_row = df.iloc[max]

print(
    f"Date: {max_profit_row['Date']} \n",
    f"Profit/Losses: {max_profit_row['Profit/Losses']}\n"
    f"diff: {max_profit_row['diff']} \n"
)

Date: Feb-2012
 Profit/Losses: 1170593
diff: 1926159.0

In [38]:
### grtst_dec - greatest decrease in column 2 with date and value
min = df['Profit/Losses'].idxmin()
min_profit_row = df.iloc[min]

print(
    f"Date: {min_profit_row['Date']} \n",
    f"Profit/Losses: {min_profit_row['Profit/Losses']}\n"
    f"diff: {min_profit_row['diff']} \n"
)

Date: Sep-2013
 Profit/Losses: -1196225
diff: -2196167.0

In [41]:
print(
    f"Financial Analysis\n"
    f"Total Months:{total_months}\n" 
    f"Total: ${Total_Value}\n"
    f"Average Change: ${avg_change_col}\n"
    f"Greatest Increase in Profits: {max_profit_row['Date']} (${max_profit_row['Profit/Losses']}) \n"
    f"Greatest Decrease in Profits: {min_profit_row['Date']} (${min_profit_row['Profit/Losses']}) \n",
)

Financial Analysis
Total Months:86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1170593)
Greatest Decrease in Profits: Sep-2013 ($-1196225)